<h1>Dataset: "{{dataset_name}}"</h1>
<h3>Columns: {{shape[1]}}</h3>
<h3>Rows: {{shape[0]}}</h3>
<br/>
<br/>
<h3>Statistical Summary (rounded to 3 decimal points):</h3>
{{data_describe|safe}}
<br/><br/>

<h3>Best ML Algorithm</h3>
<p>Based on 10-fold cross validation to estimate accuracy using 80% of data for training and 20% of data for validation.<br/>
<strong>Algorithms:</strong>
<ul>
	<li>Logistic Regression (LR)</li>
	<li>Linear Discriminant Analysis (LDA)</li>
	<li>5-Nearest Neighbors (5NN).</li>
	<li>Decision Tree/Classification and Regression Trees (CART).</li>
	<li>Gaussian Naive Bayes (NB).</li>
	<!--<li>Support Vector Machines (SVM).</li>-->
</ul>
</p>

<strong>Results for 10-fold cross validation:</strong><br/>
{% for algo_name in algo_names %}
	<strong>{{algo_name}}:</strong> {{algo_results[loop.index0]}}<br/>
{% endfor %}
<br/>
<strong>Average Accuracy for 10-fold cross validation:</strong><br/>
{% for algo_name in algo_names %}
	<strong>{{algo_name}}:</strong> {{algo_results[loop.index0].mean()}} ± {{algo_results[loop.index0].std()}}<br/>
{% endfor %}

<br/>
<strong>Best Model:</strong>
<strong>{{best_model_name}}</strong> with average accuracy of <strong><em>{{(best_model_mean*100)|round|int}}% (based on 10-fold cross validation)</em></strong>
<br/>


<canvas id="bar-chart" width="800" height="450"></canvas>
<script>
var ML_labels = [];
var ML_means = [];
{% for algo_name in algo_names %}
	ML_labels.push('{{algo_name}}');
	ML_means.push('{{(algo_results[loop.index0].mean()*100)}}');
{% endfor %}
new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: ML_labels,
      datasets: [
        {
          label: "Average Accuracy for 10-fold cross validation (%)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: ML_means
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Average Accuracy for 10-fold cross validation'
      }
    }
});
</script>


<br/>
<h3> Running {{best_model_name}} Model:</h3>
<strong>Accuracy Score: {{(mymodel_accuracy*100)|round}}%</strong><br/>
<strong>Confusion Matrix: </strong><br/>

<table border=1>
{% for row in mymodel_confusion %}
	<tr>
	{% for i in row %}
		<td style="text-align:center">{{i}}</td>
	{% endfor %}
	</tr>
{% endfor %}
</table>
<br/>
<strong>Report:
<pre>
{{mymodel_report}}
</pre>

</strong>

<br/>


<br/>
<h3>First 50 rows (rounded to 3 decimal points):</h3>
<table class="table table-dark">
	<thead>
		<tr>
			<th>#</th>
			{% for names in data_col_names %}
				<th scope="col">{{names}}</th>
			{% endfor %}
		</tr>
		<tbody>
			{% for data_row in data_head.round(3) %}
			<tr>
				<th scope="row">{{loop.index}}</th>
				{% for item in data_row %}
					<td>{{item}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		
		</tbody>
	</thead>
</table>